<h1>Create New Beard Style</h1>

<form method="POST" action="/manage-styles/create-new-style">
  <label>
    Beard Style:
    <input type="text" name="beardStyle" />
  </label>

  <label>
    Upload Primary Image:
    <textarea name="primaryImage" cols="30" rows="4"> </textarea>
  </label>

  <label>
    Description:
    <input type="description" name="rating" min="1" max="10" />
  </label>

  <button type="submit"> Create </button>
</form>