<h1>Create New Beard Style</h1>

<form
  method="POST"
  action="/manage-styles/create-new-style"
  enctype="multipart/form-data"
  id="create-beard-style"
>

  <p>
    <label>
      Beard Style:
      <input type="text" name="beardStyle" />
    </label>
  </p>
  <p>
    <label>
      Upload Primary Image:
      <input
        type="file"
        name="primaryImage"
        class="file-input w-full max-w-xs"
      />
    </label>

  </p>
  <p>
    <label>
      Description:
      <input type="description" name="rating" min="1" max="10" />
    </label>
  </p>
  <button type="submit" form="create-beard-style" value="Submit">Submit</button>

</form>