<h1>Let's create a style</h1>

<form method="POST" action="/manage-styles/create-new-style">

  <form>
    Choose Style:
    <input type="radio" name="test" value="Beard" Beard />
    <input type="radio" name="test" value="Hair" Hair />
    <br><br>

  <button type="submit"> Create </button>
  </form>

