<section class="min-h-screen flex items-start justify-center p-10">
  <div class="bg-gray-100 flex rounded-2xl shadow-lg max-w-3xl p-5">
    <div id="login-form" class="md:w-1/2 bg-white-600">
      <div class="w-96 p-6 shadow-lh bg-gray-100 rounded-md flex flex-col">
        <h1 class="text-3xl block text-center font-semibold"><i
            class="fa-solid fa-user"
          ></i>
          Contact Us</h1>
        <hr class="mt-3" />
        <form action="/send-email" method="POST">

          <div class="mt-3">
            <label class="block text-base mb-2">
              First Name
              <input
                type="text"
                name="firstname"
                placeholder="Bob"
                class="border w-full text-base px-2 py-1 focus:outline-none focus:ring-0 focus:border-gray-600"
              />
            </label>
          </div>
          <div class="mt-3">
            <label class="block text-base mb-2">
              Subject
              <input
                type="text"
                name="subject"
                placeholder="Your Subject"
                class="border w-full text-base px-2 py-1 focus:outline-none focus:ring-0 focus:border-gray-600"
              />
            </label>
          </div>
          <div class="mt-3">
            <label class="block text-base mb-2">
              E-mail
              <input
                type="email"
                name="email"
                placeholder="bob@doe.com"
                class="border w-full text-base px-2 py-1 focus:outline-none focus:ring-0 focus:border-gray-600"
              />
            </label>
          </div>
          <div class="mt-3">
            <label class="block text-base mb-2">
              Message
              <textarea
                name="message"
                id=""
                cols="20"
                rows="10"
                placeholder="Your message"
                class="border w-full text-base px-2 py-1 focus:outline-none focus:ring-0 focus:border-gray-600"
              ></textarea>
            </label>
          </div>

          <div class="mt-5">
            <button
              class="border-2 border-gray-700 bg-gray-700 text-white py-1 w-full rounded-md hover:bg-transparent hover:text-[#FF5178] font-semibold"
              type="submit"
            >Send</button>
          </div>
          {{#if errorMessage}}
            <p class="error">{{errorMessage}}</p>
          {{/if}}
        </form>
      </div>
    </div>
    <div class="w-1/2">
      <img
        class="sm:block hidden rounded-2xl p-2"
        src="/images/beardcontact.jpeg"
        alt=""
      />
    </div>
  </div>
</section>