<section class="p-10">
  <div class="container mx-auto px-10">
    <div class="relative z-100">

      <ul id="slider" class="shadow-2xl z-99">
        <li class="h-[70vh] relative"><img
            class="h-full w-full object-cover"
            src="/images/beardslide1.jpeg"
            alt=""
          />
          <div class="absolute top-0 left-0 h-full w-full flex"><h2
              class="text-4xl font-bold text-white my-auto w-full text-center px-20"
            >Big Heading</h2></div>
        </li>
        <li class="h-[70vh] relative hidden"><img
            class="h-full w-full object-cover"
            src="/images/beardslide2.jpeg"
            alt=""
          />
          <div class="absolute top-0 left-0 h-full w-full flex"><h2
              class="text-4xl font-bold text-white my-auto w-full text-center px-20"
            >Big Heading</h2></div></li>
        <li class="h-[70vh] relative hidden"><img
            class="h-full w-full object-cover"
            src="/images/beardslide3.webp"
            alt=""
          />
          <div class="absolute top-0 left-0 h-full w-full flex"><h2
              class="text-4xl font-bold text-white my-auto w-full text-center px-20"
            >Big Heading</h2></div>
        </li>
      </ul>

      <div class="absolute px-5 flex h-full w-full top-0 left-0">
        <div class="my-auto w-full flex justify-between">
          <button
            onclick="prev()"
            class="bg-white p-3 rounded-full bg-opacity-50 shadow-lg"
          ><svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M15.75 19.5L8.25 12l7.5-7.5"
              />
            </svg>
          </button>
          <button
            onclick="next()"
            class="bg-white p-3 rounded-full bg-opacity-50 shadow-lg"
          ><svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M8.25 4.5l7.5 7.5-7.5 7.5"
              />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-20 mx-10 flex justify-around flex-col md:flex-row flex-wrap">
  <div class="max-w-xs rounded-2xl overflow-hidden shadow-xl">
    <img
      class="w-full max-h-80"
      src="/images/beardmaintain.jpeg"
      alt="beards"
    />
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2">Maintaining a beard</div>
      <p class="text-gray-700 text-base">
        When you’ve achieved sufficient growth and selected your style, you can
        finally start to trim and shape your beard. For this, you need a good
        trimmer to define your neckline before crafting the rest of your beard,
        but it’s usually preferable to leave a natural cheek line to avoid odd
        results. Check out our line-up of trimmers to find the perfect choice
        for your beard styles.
      </p>
    </div>
    <div class="px-6 pt-4 pb-2">
      <span
        class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
      >#maintain</span>
      <span
        class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
      >#grow</span>
      <span
        class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
      >#trim</span>
    </div>
  </div>
  <div class="max-w-xs rounded-2xl overflow-hidden shadow-lg">
    <img
      class="w-full max-h-80"
      src="/images/beardproduct.png"
      alt="Sunset in the mountains"
    />
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2">Shaving tools</div>
      <p class="text-gray-700 text-base">

        Shaving is simply using a razor to remove the tip of the hair shaft that
        has grown up through the skin. Razors come in a bunch of different
        forms. There are standard razors that are either completely disposable
        or have a disposable blade that needs to be replaced regularly, and
        there are electric razors.
      </p>
    </div>
    <div class="px-6 pt-4 pb-2">
      <span
        class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
      >#razor</span>
      <span
        class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
      >#kit</span>
      <span
        class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
      >#shaving</span>
    </div>
  </div>
  <div class="max-w-xs rounded-2xl overflow-hidden shadow-lg">
    <img
      class="w-full max-h-80"
      src="/images/beardlogin.jpeg"
      alt="Sunset in the mountains"
    />
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2">Should men grow beards?</div>
      <p class="text-gray-700 text-base">

        A beard is more than just an accessory for your face, it can be your
        best advocate to a healthy life. With all the health benefits that comes
        with growing a beard, more men should have hair on their faces by now.
        Remember to utilize the latest men's grooming techniques to maintain
        your beard.
      </p>
    </div>
    <div class="px-6 pt-4 pb-2">
      <span
        class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
      >#grow</span>
      <span
        class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
      >#not-woman</span>

    </div>
  </div>
</section>

<section>
  <div class="flex justify-center items-center">
    <img class="my-10 shadow-2xl w-full" src="/images/pricelist.avif" alt="" />
  </div>
</section>