<section class="p-5">
  <div class="container mx-auto px-10">
    <div class="relative z-100">

      <ul id="slider" class="shadow-2xl z-99">
        <li class="h-[70vh] relative"><img
            class="h-full w-full object-cover"
            src="/images/beardslide1.jpeg"
            alt=""
          />
          <div class="absolute top-0 left-0 h-full w-full flex"><h2
              class="text-4xl font-bold text-white my-auto w-full text-center px-20"
            >Big Heading</h2></div>
        </li>
        <li class="h-[70vh] relative hidden"><img
            class="h-full w-full object-cover"
            src="/images/beardslide2.jpeg"
            alt=""
          />
          <div class="absolute top-0 left-0 h-full w-full flex"><h2
              class="text-4xl font-bold text-white my-auto w-full text-center px-20"
            >Big Heading</h2></div></li>
        <li class="h-[70vh] relative hidden"><img
            class="h-full w-full object-cover"
            src="/images/beardslide3.webp"
            alt=""
          />
          <div class="absolute top-0 left-0 h-full w-full flex"><h2
              class="text-4xl font-bold text-white my-auto w-full text-center px-20"
            >Big Heading</h2></div>
        </li>
      </ul>

      <div class="absolute px-5 flex h-full w-full top-0 left-0">
        <div class="my-auto w-full flex justify-between">
          <button
            onclick="prev()"
            class="bg-white p-3 rounded-full bg-opacity-50 shadow-lg"
          ><svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M15.75 19.5L8.25 12l7.5-7.5"
              />
            </svg>
          </button>
          <button
            onclick="next()"
            class="bg-white p-3 rounded-full bg-opacity-50 shadow-lg"
          ><svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M8.25 4.5l7.5 7.5-7.5 7.5"
              />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>