<section class="my-5">

  <div class="my-5 flex flex-row flex-wrap justify-around">
    {{#each hair}}

      {{#if this.hairStyle}}
      <div>
        {{!--  <a href="/hair/{{this._id}}">--}}
          
          <div class="m-10 w-card w-96 shadow-xl font-bold">
            {{this.hairStyle}}<img
              src="{{this.primaryImage}}"
            /></div>
          <div class="card-body">

            <div class="card-actions">

            </div>
          </div>
          </div>
        </a>

        <br />
        <br />
      {{/if}}
    {{/each}}
  </div>
</section>