<h1>Hair Listing</h1>

{{#each hair}}

  {{#if this.hairStyle}}
  <a href="/hair/{{this._id}}">
    <div class="card w-96 bg-base-100 shadow-xl">
      <figure><img src="{{this.primaryImage}}" /></figure>
      <div class="card-body">
        <h2 class="card-title">{{this.hairStyle}}</h2>
        <div class="card-actions justify-end">
        </div>
      </div>
      </a>
    </div>

<br>
<br>
  {{/if}}
{{/each}}