<h1>Beard Listing</h1>
<br />
<br />
<div class="mx-20 my-5">
{{#each beards}}

  {{#if this.beardStyle}}
  <a href="/beard/{{this._id}}">
    <div class="card w-96 bg-base-100 shadow-xl rounded-md">
      <figure><img src="{{this.primaryImage}}" /></figure>
      <div class="card-body ">
        <h2 class="card-title">{{this.beardStyle}}</h2>
        <div class="card-actions justify-end">
        </div>
      </div>
      </a>
    </div>

<br>
<br>
  {{/if}}
{{/each}}
</div>