<section class="my-5">

<div class="my-5 flex flex-row flex-wrap justify-around">
{{#each beards}}

  {{#if this.beardStyle}}
  <a href="/beard/{{this._id}}">
    
      <div class="m-10 w-card w-96 shadow-xl"><img src="{{this.primaryImage}}" /></div>
      <div class="card-body">
       
        <div class="card-actions">
          
        </div>
      </div>
      </a>
    

<br>
<br>
  {{/if}}
{{/each}}
</div>
</section>
