<section class="m-10">

  <p>
    <img src="{{primaryImage}}" alt="Primary Image" />
    <br />
    <br />
  </p>

  Keywords:
  {{slogan}}

  <br />
  <br />
  <p>Description: {{description}}</p>
  <br />
  <p>
    <br />
    <br />
  </p>

</section>