<section class="m-10">

  <div>
    <img class="w-3/5" src="{{primaryImage}}" alt="Primary Image" />
  </div>
  <br />

  <h2 class="my-5 font-semibold">{{slogan}}</h2>
  <p>{{description}}</p>
  <br />
  <a class="mb-20 hover:underline hover:text-[#FF5178]" href="/beard">Back to the list</a>

</section>