<section class="p-10">

  <div class="flex flex-wrap justify-around">
    <div class="flex">
      {{#each users}}

        {{#each myUploadedStyles}}

          <div class="m-10 p-5 w-card w-96 shadow-2xl">
            <div class="font-semibold">
              {{this.title}}
            </div>
            {{this.slogan}}
            <img src="{{this.imageURL}}" />
          </div>
          <div class="card-body">

            <div class="card-actions">

            </div>
          </div>

        {{/each}}

      {{/each}}

    </div>
  </div>
</section>

<section class="my-5 flex flex-row flex-wrap justify-around">
  <div class="pb-10 pl-10">
    <a
      href="/manage-styles/create-beard-style"
      class="bg-[#FF5178] text-white px-5 py-2 rounded-full hover:bg-gray-700"
    >Create new beard</a>
  </div>
  <div class="pb-10 pl-10">
    <a
      href="/my-styles"
      class="bg-[#FF5178] text-white px-5 py-2 rounded-full hover:bg-gray-700"
    >Upload your style</a>
  </div>
  <div class="pb-10 pl-10">
    <a
      href="/all-styles"
      class="bg-[#FF5178] text-white px-5 py-2 rounded-full hover:bg-gray-700"
    >Our customers styles</a>
  </div>
</section>